<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/js/backbone.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/two.js"></script>
    <!-- <script src="/js/animator.js"></script> -->

    <title>Solar System</title>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
